footer{
    
    padding: 50px;
    .footer_pages{
        display: flex;
        justify-content: space-around;
        li{
            color: white;
            font-family: "CocoSharp";
            font-size: 14px;
            font-weight: 700px;
        }
    }
    .footer_icons{
        display: flex;
           
        li{
            font-size: 24px;
            color: white;
            margin: 0 10px; 
        }
    }
}