* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background-color: black;
}

ol, ul {
  list-style: none;
}

body {
  height: 100vh;
}

a {
  text-decoration: none;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 10px;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

/* desktop responsive */
@media only screen and (max-width: 1440px) {
  .lg-none {
    display: none !important;
  }
  .container {
    width: 90%;
  }
  .col-lg-1 {
    width: 8.3333333333%;
  }
  .col-lg-2 {
    width: 16.6666666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3333333333%;
  }
  .col-lg-5 {
    width: 41.6666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3333333333%;
  }
  .col-lg-8 {
    width: 66.6666666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.3333333333%;
  }
  .col-lg-11 {
    width: 91.6666666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
/* tablet responsive */
@media only screen and (max-width: 992px) {
  .md-none {
    display: none !important;
  }
  .md-display {
    display: inline-block !important;
  }
  .container {
    width: 80%;
  }
  .col-md-1 {
    width: 8.3333333333%;
  }
  .col-md-2 {
    width: 16.6666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333333333%;
  }
  .col-md-5 {
    width: 41.6666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333333333%;
  }
  .col-md-8 {
    width: 66.6666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333333333%;
  }
  .col-md-11 {
    width: 91.6666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
}
/* mobile responsive */
@media only screen and (max-width: 768px) {
  .sm-none {
    display: none;
  }
  .container {
    width: 75%;
  }
  .col-sm-1 {
    width: 8.3333333333%;
  }
  .col-sm-2 {
    width: 16.6666666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.3333333333%;
  }
  .col-sm-5 {
    width: 41.6666666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.3333333333%;
  }
  .col-sm-8 {
    width: 66.6666666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.3333333333%;
  }
  .col-sm-11 {
    width: 91.6666666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
nav {
  display: flex;
  align-items: center;
  padding: 30px 0;
  justify-content: space-around;
}
nav .nav_buttons {
  display: flex;
}
nav .nav_buttons a {
  color: white;
  font-size: 18px;
  font-family: "CocoSharp";
  font-weight: 700;
  margin: 0 13px;
}
nav .nav_logo {
  height: 30px;
  width: 28px;
  display: none;
}
nav .nav_menu {
  display: none;
  color: white;
}
nav .nav_hotline {
  border: 0.5px white solid;
  padding: 10px 15px;
  border-radius: 25px;
  color: white;
  font-family: "sans-serif";
}
nav .nav_hotline i {
  color: orangered;
}

.heading_txt {
  font-family: "CocoSharp";
  font-size: 32px;
  font-weight: 800;
  color: white;
  padding: 20px;
}

#hero {
  background-color: #1A1A1A;
  border-radius: 15px;
  padding: 40px;
  display: flex;
  justify-content: space-around;
  color: white;
}
@media only screen and (max-width: 992px) {
  #hero {
    flex-direction: column;
    text-align: center;
  }
  #hero .hero_side_foot {
    justify-content: space-around;
  }
}
#hero .hero_card img {
  height: 178px;
  width: 280px;
  margin: auto;
}
#hero .hero_side .hero_side_header h2 {
  font-family: "CocoSharp";
  font-weight: 800;
  font-size: 24px;
}
#hero .hero_side .hero_side_header button {
  justify-self: end;
}
#hero .hero_side p {
  font-family: "CocoSharp";
  font-weight: 400;
  font-size: 14px;
}
#hero .hero_side .hero_side_foot {
  display: flex;
}
#hero .hero_side .hero_side_foot .hero_side_foots {
  width: 182px;
  height: 65.5px;
  display: flex;
  align-items: center;
}
#hero .hero_side .hero_side_foot .hero_side_foots i {
  font-size: 35px;
  color: orangered;
}
#hero .hero_side .hero_side_foot .hero_side_foots span {
  margin: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

@media only screen and (max-width: 992px) {
  #debetcards .debetcards_box {
    flex-direction: column;
    text-align: center;
  }
}
#debetcards .debetcards_box {
  display: flex;
  gap: 20px;
  margin: 20px;
}
#debetcards .debetcards_box .debetcards_box_card {
  background-color: #1A1A1A;
  border-radius: 15px;
  padding: 40px;
}
#debetcards .debetcards_box .debetcards_box_card img {
  border-radius: 15px;
  overflow: hidden;
  height: 200px;
  width: 315px;
}
#debetcards .debetcards_box .debetcards_box_card h2 {
  font-family: "CocoSharp";
  font-size: 24px;
  font-weight: 800;
  color: white;
}
#debetcards .debetcards_box .debetcards_box_card p {
  font-family: "CocoSharp";
  font-size: 14px;
  font-weight: 400px;
  color: white;
}
#debetcards .debetcards_box .debetcards_box_card button {
  font-family: "CocoSharp";
  font-size: 14px;
  font-weight: 600;
  color: white;
  background-color: orangered;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
}

footer {
  padding: 50px;
}
footer .footer_pages {
  display: flex;
  justify-content: space-around;
}
footer .footer_pages li {
  color: white;
  font-family: "CocoSharp";
  font-size: 14px;
  font-weight: 700px;
}
footer .footer_icons {
  display: flex;
}
footer .footer_icons li {
  font-size: 24px;
  color: white;
  margin: 0 10px;
}/*# sourceMappingURL=main.css.map */